

  <%= form_for([current_user, current_user.emails.build]) do |f| %>

    <!-- TODO: Implement selection of email addresses! -->

    <div class="field form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :message %><br />
      <%= f.text_area :body, rows: "15", autocomplete: "off", class: "form-control" %>
    </div>

    <br />
    <div class="actions">
      <%= f.submit "Send", class: "btn btn-lg btn-success" %>
    </div>
  <% end %>

  <br />
  <%= link_to "Cancel", user_emails_path %>
